
## CoolRunner-II CPLD Starter Board
## Clock
NET CLK         LOC = P38;

# DATA WORD INPUT
NET SW_PANEL<0>   LOC = P113;
NET SW_PANEL<1>   LOC = P112;
NET SW_PANEL<2>   LOC = P115;
NET SW_PANEL<3>   LOC = P114;
NET SW_PANEL<4>   LOC = P117;
NET SW_PANEL<5>   LOC = P116;
NET SW_PANEL<6>   LOC = P119;
NET SW_PANEL<7>   LOC = P118;

#NET SW_SBIT  LOC = p124;
NET ACK    LOC =  p143;

# UART OUTPUT PIN
NET TX_SERIAL LOC = p3;